{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('actuality.css')}} ">
{% endblock %}




{% block body %}


        <h1>Actualité</h1>
              

        




       
    


</div>
</section>
      
{% endblock %}