{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('actuality.css')}} ">
{% endblock %}




{% block body %}


        <h1>Actualité</h1>
              

        




       
    <button><a href=" {{path('create_art')}} ">Crée un article</a></button>


</div>
</section>
      
{% endblock %}