{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('actuality.css')}} ">
{% endblock %}




{% block body %}

    <div class='title'>
        <h1>Actualité</h1>
    </div>
    
    <section class='block-flex'>
        <div>
            <button><a href=" {{path('create_art')}} ">Crée un article</a></button>
        </div>
        <div>
            
        </div>
    
    </section>    

        




       
    


</div>
</section>
      
{% endblock %}