{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('actuality.css')}} ">
{% endblock %}




{% block body %}


    <section class='main-content'>
        <h1 class='logTitle'>S'inscrire</h1>
            <div class='block-log'>   

        




       
    


</div>
</section>
      
{% endblock %}