{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('css/signIn.css')}} ">
{% endblock %}
{% block title %}Se connecter{% endblock %}

{% block body %}

<section class='log_menu'>
<h1 class='logTitle'>Connexion</h1>

<div class='block-log'>   
{{form_start(logElem)}}



{{form_rest(logElem)}}
   
  
{{form_end(logElem)}}
</section>

{% endblock %}