{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('css/registration.css')}} ">
{% endblock %}
{% block title %}Se connecter{% endblock %}

{% block body %}

<section class='log_menu'>
<h1 class='logTitle'>Se connecter</h1>

<div class='block-log'>   



        



    <div class='btn-sub'>
        <button type='submit' class='submitRegist'> S'enregistrer </button>
    </div>



</div>
</section>




   
  

</section>

{% endblock %}