{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<main class='d-flex'>


<section class='register-block'>
<h1 class='t_log mb-20'>S'inscrire</h1>

<div>
    {{form_start(inscription)}}


    {{form_rest(inscription)}}
</div>


    {{form_end(inscription)}}
</section>

<section class='register-picture'>
<div>
<img src=" {{asset('pictures/register_pics.jpeg')}} "  class='boxer' alt="Welcome to the BBC">
</div>
</section>
</main>
{% endblock %}
