{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('css/signIn.css')}} ">
{% endblock %}
{% block title %}S'enregistrer{% endblock %}

{% block body %}

<section class='log_menu'>
<h1 class='logTitle'>S'inscrire</h1>

<div class='block-log'>   
{{form_start(inscription)}}



{{form_rest(inscription)}}
   
  
{{form_end(inscription)}}
</section>

{% endblock %}