{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <section>
        <h1>Crée un article</h1>

    <article>

            {{form_start(todo)}}
    
    
            {{form_rest(todo)}}



            {{form_end(todo)}}


            
            <button>Crée</button>
    
    
    </article>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </section>
{% endblock %}