{% extends "base.html.twig" %}


{% block title %} Connexion{% endblock %}



{% block body %}


        <div class="block-flex-colum">
            <div class="block-flex-colum">
            <div>
                    <h1>Se connecter</h1>
            </div>
        <div class="block-form">


<main class='blockF'>

<form action=" {{path('connexion_')}}" class='formCo' method='POST'>

{% if error %}
    <div class='red'> {{error.messageKey|trans(error.messageData, 'security')}} </div>
{% endif %}

<div>
<label for="email">Email</label>
<input type="text" id='email' name='_username' value=' {{username}} '>
</div>

<div>
<label for="password">Mot de passe</label>
<input type="password" id='password' name='_password'>
</div>
<div>
<label>
    <input type="checkbox" name="_remember_me" id='checkbox'> Se souvenir de moi.
</label>
<div>
<input type="hidden" nom='_csrf_token' value=' {{csrf_token('authenticate')}} '>
</div>
</div>
<button class='spe-btn'>Connexion</button>
</form>

</div>
</main>
</section>
{% endblock %}