<footer class="d-flex flex-wrap justify-content-center p-20">
        <div class="content p-20">
        <p>
        © Braganza Boxing Camp 2021 – All rights reserved
        </p>
        </div>
</footer>