
    <div class="containerNav">
        <ul class='elemNav'>
            <li><a href="#">Crée un article</a></li>
            <li><a href="#">Modifier un article</a></li>
            <li><a href="#">Supprimer un article</a></li>
        </ul>
    </div>
