:root {
    --primary:#040404;
    --primary-light: #4b4b4b;
    --secondary:#fff200;
    --secondary-dark:#f6b93b;
    --warning:#eb2f06;
    --success:#38ada9;
    --box-shadow:0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border:1px solid var(--gray-light);
    --border-radius: 3px;
    --color:white;
    --color-dark:#0c2461;
    --gray:#f1f2f6;
    --gray-dark:#dfe4ea;
    --font-size-small:14px;
    --font-size-regular:16px;
    --font-weight-regular:400;
    --font-weight-semi-bold:600;
    --font-weight-bold:700;
    --max-width: 1200px;
}


/* PAGE & TITRE */

.log_menu {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log_menu .logTitle {
    color: var(--primary);
    margin: 20px;
    margin-bottom: 50px;
    border-bottom: solid 5px var(--secondary);
    font-style: italic;
}
.log_menu .block-log {
    background-color: var(--color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.block-log {
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    width: 800px;
    height: auto;
}

.block-log form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-log form div input, select {
    margin-bottom: 15px;
    padding: 10px 15px;
    border: 0;
    border-radius: var(--border-radius);
    background-color: #f1f2f6;
    text-align: center;
}

.block-log .home div{
    display: flex;
}

.profil #registration_date_de_naissance, #registration_genre{
    width: 240px; 
}

.home  #registration_pays {
    width: 240px;
}

/* BOUTON */

.block-log .btn-sub {
    align-items: flex-end;
}

.submitRegist {
    width: 125px;
    height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    margin-bottom: 15px;
}
