:root {
    --primary:#040404;
    --primary-light: #4b4b4b;
    --secondary:#fff200;
    --secondary-dark:#f6b93b;
    --warning:#eb2f06;
    --success:#38ada9;
    --box-shadow:0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border:1px solid var(--gray-light);
    --border-radius: 3px;
    --color:white;
    --color-dark:#0c2461;
    --gray:#f1f2f6;
    --gray-dark:#dfe4ea;
    --font-size-small:14px;
    --font-size-regular:16px;
    --font-weight-regular:400;
    --font-weight-semi-bold:600;
    --font-weight-bold:700;
    --max-width: 1200px;
}


.elemNav {
    display: flex;
    width: 70%;
    height: 30px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--secondary);
}

.elemNav li a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
}