/* theme */

:root {
    --primary:#040404;
    --primary-light: #4b4b4b;
    --secondary:#fff200;
    --secondary-dark:#f6b93b;
    --warning:#eb2f06;
    --success:#38ada9;
    --box-shadow:0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border:1px solid var(--gray-light);
    --border-radius: 3px;
    --color:white;
    --color-dark:#0c2461;
    --gray:#f1f2f6;
    --gray-dark:#dfe4ea;
    --font-size-small:14px;
    --font-size-regular:16px;
    --font-weight-regular:400;
    --font-weight-semi-bold:600;
    --font-weight-bold:700;
    --max-width: 1200px;
}

/* général */

html body {
    min-height: 100vh;
    background-color: var(--gray);
    color: var(--primary-light);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    color:var(--color)
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    color: var(--color);
}

button {
    color: var(--color);
}

footer {
    display: flex;
    background-color: var(--primary-light);
    color: var(--color);
    height: 120px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
/* Accueil */

.block {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    border-radius: var(--border-radius);
    background-color: var(--color);
    box-shadow: var(--box-shadow);
}

.motivation-content {
    flex-direction: column;
    align-items: center;
    background-color: var(--gray);
}

.block .motivation-content .motivation-text {
    padding: 125px;
    font-size: 45px; 
}

.motivation-text {
    color: var(--gray-light);
    opacity: 35%;
}

.text-content {
    display: flex;
    flex-direction: column;
    width: 525px;
}

.text-content h1, h2, h3{
    margin-top: 10px;
    justify-content: center;
    color: var(--primary);
}

.text-content h1 {
   justify-content: center;
}

.text-content .container {
    display: flex;
}

/* Header Navbar */

header {
    background-color: var(--primary);
}

.nav-list {
    padding-top: 15px ;
}

.logo {
    padding-left: 120px;
    width: 350px;
    margin: 10px;
}

nav {
    display: flex;
    border-radius: var(--border-radius);
    justify-content: space-between;
    align-items: center;
}

nav .nav-content {
    display: flex;
}

nav .nav-content li {
   margin-right: 100px;
}

nav .nav-content li .nav-elem {
    text-decoration: none;
    color: var(--color);
    font-size: 18px;
}

i {
    margin: 5px ;
}

.log-reg {
    padding-right: 20px;
}

.log-reg a {
    color: var(--color);
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}

.btn-primary {
    background-color: var(--secondary);
}

.nav-button {
    width: 125px;
    height: 45px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary);
}

.nav-button:hover {
    transition: 0.4s;
    background-color: var(--secondary);
    color: var(--warning);
    width: 140px;
    height: 55px;
}

.nav-button a {
    color: var(--color);
    text-decoration-color: none;
}

.nav-button a:hover {
    font-size: 20px;
    color: var(--primary);
}