/* theme */

:root {
    --primary:#040404;
    --primary-light: #4b4b4b;
    --secondary:#fff200;
    --secondary-dark:#f6b93b;
    --dark:#3d3d3d;
    --warning:#eb2f06;
    --success:#38ada9;
    --box-shadow:0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border:1px solid var(--gray-light);
    --border-radius: 3px;
    --color:white;
    --gradiant-color:#FF4331 #D31A50;
    --gray:#f1f2f6;
    --gray-dark:#dfe4ea;
    --font-size-small:14px;
    --font-size-regular:16px;
    --font-weight-regular:400;
    --font-weight-semi-bold:600;
    --font-weight-bold:700;
    --max-width: 1200px;
}

/* général */

html body {
    height: 100vh;
    background-color: var(--gray);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color:var(--primary-light)
}

a {
    color: inherit;
    text-decoration: none;
}


i {
    color: var(--color);
    padding-right: 5px;
}

footer {
    display: flex;
    background-color: var(--dark);
    color: var(--color);
    height: 120px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: var(--border-radius);
}

.bckColor-yellow {
    background-color: var(--secondary);
}

.bckColor-bleu {
    background-color: var(--success);
}

.bckColor-red {
    background-color: var(--warning);
}

.red {
    color: var(--warning);
}

.color-w {
    color: var(--color);
}

.color-b {
    color: var(--primary);
}

.classic-btn {
    margin: 10px;
    width: 140px;
    height: 65px;
    border: var(--border);
    border-radius: 5%;
}

.ft-40 {
    font-size: 40px;
    font-style: italic;
}


/* HEADER & NAVBAR & LOGO */

.logo {
    width: 250px;
    margin: 10px;
}

header {
    width: auto;
    background-color: var(--primary);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}
.nav-list {
    padding-top: 12px;
}

.nav-content {
    display: flex;
    flex-wrap: wrap;
}

.nav-content li {
    padding-right: 100px;
    padding-left: 100px;
    font-weight: bolder; 
}

.nav-content li a {
    text-decoration: none;
    color: var(--color);
    font-size: 18px;
}

.classic-btn a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: var(--primary);
}

/* BODY BASE  */

.main-block {
    background-color: var(--gray-light);
}

.block {
    display: flex;
}

.motivation-content {
    text-align: center;
}
.motivation-text {
    background-color: var(--gray-dark);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 150px;
    margin: 20px;
}

.motivation-content h1 {
    color: var(--primary);
}


.block-pics {
    align-items: center;
    margin: 20px;
}

.homePics {
    width: 670px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.homePics-d {
    width: 670px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-top: 80px;
}

/* Inscription & Connexion */

.global {
    display: flex;
    background-color: var(--primary);
}
.blockF {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.block-flex-colum div h1{
    display: flex;
    justify-content: center;
    border-bottom: var(--secondary) 4px solid;
}

.block-form form {
    display: flex;
    flex-direction: column;
    width: 990px;
    height: 990px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    margin: 50px;
}

.block-form form div {
    display: contents;
}

.block-form form label {
    margin: 5px;
}

.block-form form div input {
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: var(--gray-dark);
    width: 300px;
    height: 50px;
    font-size: 18px;
}

#user_profil_birthday {
    display: flex;
}

#user_profil_birthday select {
    background-color: var(--gray-dark);
    width: 75px;
}

#user_profil_country {
    background-color: var(--gray-dark);
    width: 300px;
    height: 50px;
}

#user_profil_gender {
    background-color: var(--gray-dark);
    width: 300px;
    height: 50px;
}

.spe-btn {
    margin: 25px;
    height: 50px;
    width: 125px;
    background-color: var(--secondary);
    color: var(--primary);
    border: var(--border);
}

.spe-btn:hover {
    transition: 0.3s;
    background-color: var(--warning);
    color: var(--color);
}

.lign {
    margin-bottom: 50px;
}

#checkbox {
    width: 15px;
    height: 15px;
    align-items: center;
}